Source: gtkollection
Section: utils
Priority: extra
Maintainer: Rodrigo Freitas <rsfreitas.c@gmail.com>
Build-Depends: debhelper (>= 7), libsqlite3-dev, libgtk2.0-dev
Standards-Version: 3.9.2
Homepage: http://rsfreitas.gihub.com/gtkollection

Package: gtkollection
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An application to manage collections.
 gtkollection is an application that lets you manage all kind of collection.
